@media (max-width: 1350px) {
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-120%) translateY(200%);
            transform: rotate(-90deg) translateX(-120%) translateY(200%);
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-25%) translateY(-85%);
            transform: rotate(-90deg) translateX(-25%) translateY(-85%);
  }
}

@media (max-width: 1250px) {
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-120%) translateY(170%);
            transform: rotate(-90deg) translateX(-120%) translateY(170%);
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-25%) translateY(-65%);
            transform: rotate(-90deg) translateX(-25%) translateY(-65%);
  }
  .section1_aux_img2 {
    width: 200px;
    height: auto;
  }
  .section1_aux_img1 {
    width: 200px;
    height: auto;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
h2,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
h2 {
    font-size: 50px;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
.no,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
.no {
    font-size: 50px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    font-size: 24px;
  }
  .career_section4 .search_cards {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .career_section4 .search_wrap h1 {
    margin-right: 1rem;
  }
  .culture-page {
    width: 18000px;
  }
}

@media (max-width: 1200px) {
  .landing_hero {
    padding: 60px 0 80px 0;
  }
  .landing_hero .hero_bread {
    left: -150px;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_1 {
    font-size: 28px;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_2 .div_2_content p {
    font-size: 24px;
  }
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-140%) translateY(130%);
            transform: rotate(-90deg) translateX(-140%) translateY(130%);
    font-size: 96px;
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-50%) translateY(-45%);
            transform: rotate(-90deg) translateX(-50%) translateY(-45%);
    font-size: 96px;
  }
  .section6 .section6_cards .section6_card .content {
    font-size: 20px;
    line-height: 30px;
  }
  .section8 h1 {
    font-size: 80px;
  }
  footer .footer_wrap .top .left p {
    font-size: 16px;
  }
  footer .footer_wrap .top .left h3 {
    font-size: 16px;
  }
  footer .footer_wrap .top .left .image {
    width: 200px;
  }
  footer .footer_wrap .top .center li,
  footer .footer_wrap .top .right li {
    font-size: 16px;
  }
  footer .footer_wrap .top .center h1,
  footer .footer_wrap .top .right h1 {
    font-size: 26px;
  }
  footer .footer_wrap .top .center,
  footer .footer_wrap .top .right {
    margin-top: 1rem;
  }
  footer .footer_wrap .bottom {
    font-size: 15px;
  }
  .loading_left h1 {
    font-size: 60px;
  }
  .loading_right h1 {
    font-size: 60px;
  }
  .training2 .training2_cards,
  .training3 .training3_cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .career_section1 .section1_main_wrap .section1_main {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
  .section2_cards .section2_card .section2_content .letter h2 {
    font-size: 50px;
  }
  .section2_cards .section2_card .section2_content .no {
    font-size: 50px;
  }
  .section2_cards .section2_card .section2_content .letter p {
    font-size: 24px;
  }
  .section2_cards .section2_card .section2_img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 3rem;
    width: 340px;
    height: auto;
  }
  .culture-page .hor-footer .footer_wrap .top .left h3 {
    font-size: 24px;
  }
  .culture-page .hor-footer .footer_wrap .top .left p {
    font-size: 24px;
  }
  .culture-page .hor-footer .footer_wrap .top .center li,
  .culture-page .hor-footer .footer_wrap .top .right li {
    font-size: 22px;
  }
}

@media (max-width: 1150px) {
  .culture-page {
    width: 17500px;
  }
}

@media (max-width: 1100px) {
  .section2_img1 {
    width: 350px;
    height: auto;
  }
  .section2_cards .section2_card_mul .section2_img .section2_img2 {
    width: 320px;
    height: auto;
    -webkit-transform: translateX(100px) translateY(-100px);
            transform: translateX(100px) translateY(-100px);
  }
  .career_section4 .search_cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 1024px) {
  .loading_left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .loading_right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .loading_centre {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .loading_wrap {
    padding: 34px 25px 74px 25px;
  }
  .section2 .container {
    padding-inline: 140px;
  }
  .nav_img_wrap {
    display: none;
  }
  .nav .nav_con .nav_body {
    gap: initial;
  }
  .head_black {
    background-color: #000;
    color: #fff;
  }
  .head_black .logo {
    display: none;
  }
  .head_black .logo_aux {
    display: block;
  }
  .head_black .bars {
    display: none;
  }
  .head_black .bars_aux {
    display: block !important;
  }
  .container {
    padding: 0 44px;
  }
  .section2 .part2 .part2_prime {
    gap: 10px;
  }
  .section2 .part2 .part2_prime .dir {
    margin-left: 6rem;
  }
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-148%) translateY(140%);
            transform: rotate(-90deg) translateX(-148%) translateY(140%);
    font-size: 68px;
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-70%) translateY(-85%);
            transform: rotate(-90deg) translateX(-70%) translateY(-85%);
    font-size: 68px;
  }
  .section3 .section3_card {
    max-width: 500px;
  }
  .section3 .section3_card .section3_content {
    font-size: 24px;
  }
  .section4 {
    padding: 100px 60px;
  }
  .section5 h1 {
    margin-bottom: 100px;
    font-size: 80px;
  }
  .section6 .section6_cards .section6_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  .section6 .section6_cards .section6_card:nth-child(2) {
    margin-top: 10.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section6 .section6_cards .section6_card .image .btn {
    display: none;
  }
  .section7 h1 {
    font-size: 60px;
  }
  .loading_left h1 {
    font-size: 30px;
  }
  .loading_right h1 {
    font-size: 30px;
  }
  .project1 {
    padding-top: 3rem;
  }
  .project3 .project3_cards .project3_card .project3_content p {
    font-size: 25px;
  }
  .training1 h1 {
    font-size: 80px;
  }
  .training1 .training1_text h3 {
    font-size: 60px;
  }
  .training1 .training1_text h3:nth-child(2) {
    padding: 20px 0% 20px 30%;
  }
  .training1 .training1_text h3:nth-child(3) {
    padding: 20px 0% 20px 50%;
  }
  .training2 h1,
  .training3 h1 {
    font-size: 65px;
  }
  .contact h1 {
    font-size: 120px;
  }
  .contact
.contact_form_wrap
form
.services
.services_wrap
.check_control
label {
    font-size: 33px;
  }
  .contact .contact_form_wrap form .budget h2 {
    font-size: 35px;
  }
  .contact
.contact_form_wrap
form
.services
.services_wrap
.check_control
input {
    width: 50px;
    height: 50px;
  }
  .contact .contact_form_wrap form .services h2 {
    font-size: 35px;
  }
  .news .news_card .news_content p {
    font-size: 24px;
  }
  .newsletter h1 {
    font-size: 100px;
    margin-bottom: 100px;
  }
  .newsletter .control input {
    font-size: 30px;
  }
  .career_section1 {
    background-color: #000;
    color: #fff;
  }
  .section1_main_img2,
  .section1_main_img1 {
    display: none;
  }
  .section1_main_wrap {
    width: 90%;
    margin: 0 auto;
  }
  .section1_aux_wrap {
    display: none !important;
  }
  .career_section1 .section1_main_wrap .section1_main .section1_btn {
    text-align: left;
  }
  .career_section1 .section1_main_wrap .section1_main .section1_btn button {
    background: #1c1b1b;
    color: #fff;
  }
  .section1_mob_wrap {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 7rem 0 2rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1_mob_wrap .section1_aux_img3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section1_aux_img1,
  .section1_aux_img2,
  .section1_aux_img3 {
    margin-right: 2rem;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
h2,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
h2 {
    font-size: 35px;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
.no,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
.no {
    font-size: 35px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    font-size: 18px;
  }
  .section2_img1 {
    width: 300px;
    height: auto;
  }
  .section2_cards .section2_card_mul .section2_img .section2_img2 {
    width: 280px;
    height: auto;
    -webkit-transform: translateX(100px) translateY(-100px);
            transform: translateX(100px) translateY(-100px);
  }
  .career_section3 .section3_card .section3_content h1::after {
    left: 0px;
  }
  .career_section3 .section3_card .section3_content h1,
  .career_section3 .section3_card .section3_content h2 {
    font-size: 40px;
  }
  .career_section3 .section3_card .section3_content h1::after {
    width: 300px;
    bottom: -20%;
  }
  .career_section3 .section3_card .section3_content p {
    font-size: 24px;
  }
  .career_section4 .search_wrap {
    display: block;
  }
  .career_section4 .search_wrap .search_control {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .ser_head_wrap .ser_em_wrap {
    width: 100px;
  }
  .contact .contact_form_wrap form .budget h2 {
    font-size: 28px;
  }
  .contact .contact_form_wrap form .services h2 {
    font-size: 28px;
  }
  .loading_centre {
    height: 250px;
  }
  .loading_centre_wrap h1 {
    font-size: 60px;
  }
  .section6 .section6_cards .section6_card:nth-child(2) {
    margin-top: 4.5rem;
  }
  .section6 .section6_cards .section6_card .image {
    margin-top: 30px;
  }
  .section2 .container {
    padding-inline: 60px;
  }
  .section6 .container {
    padding: 0 60px;
  }
  .project3 h1 {
    font-size: 40px;
    margin-bottom: 3rem;
  }
  .container {
    padding: 0 20px;
  }
  header .container .bar_wrap h1,
  .head_black .container .bar_wrap h1 {
    font-size: 18px;
  }
  header .logo {
    width: 102px;
  }
  .head_black {
    padding: 22px 0;
  }
  .head_black .logo_aux {
    width: 102px;
  }
  header .container .bar_wrap .bars_aux,
  .head_black .container .bar_wrap .bars_aux {
    width: 25px;
  }
  .landing_hero {
    position: static;
  }
  .landing_hero .hero_bread {
    left: -150px;
    top: 40%;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_1 {
    max-width: 70vw;
    margin-bottom: 7rem;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_2 {
    gap: 30px;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_2 .div_2_content p {
    max-width: 70vw;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_2 .arrow_wrap {
    display: none;
  }
  .landing_hero .hero_bread li {
    font-size: 13px;
  }
  .landing_hero .hero_bread li:nth-child(1)::after,
  .landing_hero .hero_bread li:nth-child(2)::after {
    right: -6px;
    top: 50%;
    width: 50px;
    height: 1px;
  }
  .section1 {
    display: none;
  }
  .section1_mobile {
    display: block;
  }
  .section2 .part1 .content h2 {
    display: none;
  }
  .section2 .part1 .content h1 {
    font-size: 48px;
    line-height: 50px;
  }
  .section2 .part1 .dir {
    width: 220px;
    margin: auto;
    margin-bottom: 2rem;
  }
  .section2 .part1 .image {
    width: 248px;
    margin-left: auto;
  }
  .section2 .part2 .image {
    width: 250px;
  }
  .section2 .part2 .part2_prime .content h1 {
    font-size: 32px;
  }
  .section2 .part2 .part2_prime .content h2,
  .section2 .part2 .part2_prime .content h3 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .section2 .part2 {
    padding: 3rem 1.5rem;
  }
  .section2 .part2 .part2_prime .dir {
    margin-left: 2rem;
  }
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-158%) translateY(90%);
            transform: rotate(-90deg) translateX(-158%) translateY(90%);
    font-size: 50px;
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-80%) translateY(-25%);
            transform: rotate(-90deg) translateX(-80%) translateY(-25%);
    font-size: 50px;
  }
  .section3 .section3_card {
    max-width: 400px;
  }
  .section3 .section3_card .section3_content {
    font-size: 22px;
  }
  .section3 {
    padding: 200px 0 150px 0;
  }
  .section4 h1 {
    font-size: 40px;
    text-align: center;
  }
  .section4 {
    padding: 0 10px;
  }
  .section4 .section4_parts .section4_part h2 {
    font-size: 52px;
  }
  .section5 h1 {
    font-size: 50px;
  }
  .carousel__dot {
    padding: 7px;
  }
  .section8 h1 {
    font-size: 60px;
  }
  footer .footer_wrap .top .center h1,
  footer .footer_wrap .top .right h1 {
    font-size: 10px;
    margin-bottom: 7px;
  }
  footer .footer_wrap .top .center,
  footer .footer_wrap .top .right {
    margin-top: 6rem;
  }
  footer .footer_wrap .top .left p {
    font-size: 12px;
  }
  footer .footer_wrap .top .left h3 {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  footer .footer_wrap .top .left .image {
    width: 200px;
  }
  footer .footer_wrap .top .center li,
  footer .footer_wrap .top .right li {
    font-size: 12px;
    margin-bottom: 1px;
  }
  footer .footer_wrap .bottom {
    font-size: 10px;
    margin-top: 4rem;
    padding-top: 1rem;
  }
  footer .footer_wrap {
    padding: 30px 49px 23px 43px;
  }
  footer {
    padding: 0;
  }
  footer .footer_wrap .top {
    gap: 30px;
  }
  .nav_con {
    padding: 20px 50px;
  }
  .nav .nav_con .nav_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .nav_con .nav_body .nav_links1 ul li {
    font-size: 30px;
    margin-bottom: 0.2rem;
  }
  .nav .nav_con .nav_header {
    margin-bottom: 0rem;
  }
  .nav .nav_con .nav_body .nav_links1 ul li span {
    min-width: 25px;
    font-size: 20px;
  }
  .nav .nav_con .nav_body .nav_links2 ul h1 {
    font-size: 35px;
    margin-left: 25px;
  }
  .nav .nav_con .nav_body .nav_links2 ul li {
    font-size: 22px;
    margin-left: 25px;
  }
  .nav .nav_con .nav_body .nav_links2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav .nav_con .nav_footer p {
    margin-left: 0;
    font-size: 22px;
  }
  .project1 h1 {
    font-size: 70px;
  }
  .project1 h3 {
    font-size: 35px;
  }
  .project2 .project2_cards .project2_card:nth-child(even) {
    margin-top: 0rem;
  }
  .project2 .project2_card:nth-child(even) .project2_content {
    text-align: right;
  }
  .project2 .project2_card:nth-child(odd) .project2_content {
    text-align: left;
  }
  .project2 .project2_cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 5rem;
  }
  .project3 .project3_cards .project3_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .project3 .project3_cards .project3_card:nth-child(even) .project3_img {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .project3 .project3_cards .project3_card:nth-child(odd) .project3_content p {
    text-align: left;
  }
  .project3 .project3_cards .project3_card:nth-child(even) .project3_content p {
    text-align: right;
  }
  .project3 .project3_cards .project3_card .project3_content {
    margin-top: 1rem;
  }
  .training1 h1 {
    font-size: 60px;
  }
  .training1 .training1_text h3 {
    font-size: 50px;
  }
  .training1 h2 {
    padding: 100px 40px;
    font-size: 30px;
  }
  .training2 .training2_cards,
  .training3 .training3_cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .training2 h1,
  .training3 h1 {
    font-size: 50px;
  }
  .member h1 {
    font-size: 50px;
  }
  .member .member_form_wrap .member_head h2 {
    font-size: 29px;
  }
  .member .member_form_wrap .member_head .member_head_img {
    width: 30px;
    height: auto;
  }
  .member .member_form_wrap h3 {
    margin-left: 33px;
    font-size: 29px;
  }
  .member .member_form_wrap form .control input,
  .member .member_form_wrap form .control textarea,
  .contact .contact_form_wrap form .control input,
  .contact .contact_form_wrap form .control textarea {
    padding: 19px 15px;
    font-size: 24px;
  }
  .member .member_form_wrap .two_btns button,
  .member .member_form_wrap .one button {
    font-size: 10px;
    padding: 5px 10px;
  }
  .member .member_form_wrap .two_btns button {
    margin: 0rem 0.8rem 0 0.8rem;
  }
  .contact h1 {
    font-size: 65px;
    line-height: 100px;
  }
  .contact
.contact_form_wrap
form
.services
.services_wrap
.check_control
label {
    font-size: 25px;
  }
  .contact .contact_form_wrap form .budget .budget_wrap .budget_btn {
    font-size: 25px;
  }
  .news .news_main h1 {
    font-size: 150px;
  }
  .news .news_main p {
    font-size: 30px;
  }
  .section2_cards .section2_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2_cards .section2_card .section2_img {
    margin-top: 3rem;
    margin-left: 5rem;
  }
  .career_section2 h1 {
    font-size: 90px;
  }
  .career_section2 h1 .ring .ring_img {
    width: 250px;
    height: auto;
  }
  .career_section2 h1 {
    margin-bottom: 4rem;
  }
  .section2_cards .section2_card_mul .section2_img {
    display: none;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
h2,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
h2 {
    font-size: 50px;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
.no,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
.no {
    font-size: 50px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    font-size: 24px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    margin-left: 4rem;
  }
  .career_section3 .section3_svg {
    display: none;
  }
  .career_section3 .section3_svg_mob {
    display: block;
  }
  .career_section3 .section3_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .career_section3 .section3_card .section3_content p {
    text-align: center;
  }
  .career_section3 .section3_card .section3_img {
    text-align: center;
    margin-top: 0;
  }
  .career_section3 .section3_card .section3_content h1::after {
    display: none;
  }
  .career_section3 .section3_card .section3_content h1 span::after {
    position: absolute;
    bottom: 8%;
    left: 25%;
    width: 137px;
    height: 11.9px;
    content: "";
    background-image: url("/assets/flex_small.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .career_section4 .search_cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 580px) {
  .section2 .part1 .image {
    width: 180px;
  }
  .section2 .part2 .image {
    width: 180px;
  }
  .section4 h1 {
    font-size: 32px;
  }
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-138%) translateY(80%);
            transform: rotate(-90deg) translateX(-138%) translateY(80%);
    font-size: 50px;
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-80%) translateY(-10%);
            transform: rotate(-90deg) translateX(-80%) translateY(-10%);
    font-size: 50px;
  }
  .section3 .section3_card {
    max-width: 350px;
  }
  .section3 .section3_card .section3_content {
    font-size: 20px;
  }
  .section4 .section4_parts .section4_part .parallax_wrap {
    width: 285px;
    height: auto;
  }
  .section6 .section6_cards .section6_card .content {
    font-size: 16px;
    line-height: 25px;
  }
  .section7 h1 {
    font-size: 40px;
  }
  .section8 h1 {
    font-size: 50px;
    margin-bottom: 80px;
  }
  footer .footer_wrap .top .left p {
    font-size: 8px;
  }
  footer .footer_wrap .top .left h3 {
    font-size: 8px;
  }
  footer .footer_wrap .top .center li,
  footer .footer_wrap .top .right li {
    font-size: 8px;
  }
  footer .footer_wrap .bottom {
    font-size: 8px;
  }
  footer .footer_wrap .top .left .image {
    width: 110px;
  }
  footer .footer_wrap .top .center,
  footer .footer_wrap .top .right {
    margin-top: 1em;
  }
  footer .footer_wrap .top .center li,
  footer .footer_wrap .top .right li {
    margin-left: 0px;
  }
  footer .footer_wrap {
    padding: 30px 19px 23px 19px;
  }
  footer .footer_wrap .top .center li::after,
  footer .footer_wrap .top .right li::after {
    -webkit-transform: translateX(-15px) translateY(-50%);
            transform: translateX(-15px) translateY(-50%);
    width: 10px;
  }
  .section8 .section8_btn button {
    padding: 3rem 1rem;
    font-size: 30px;
  }
  .nav .nav_con .nav_header .title {
    width: 160px;
  }
  .project1 h1 {
    font-size: 60px;
  }
  .project1 h3 {
    font-size: 30px;
  }
  .training1 h1 {
    font-size: 60px;
  }
  .training1 .training1_text h3 {
    font-size: 40px;
  }
  .training2 .container,
  .training3 .container {
    padding: 0 10px;
  }
  .training2 h1,
  .training3 h1 {
    font-size: 35px;
  }
  .contact
.contact_form_wrap
form
.services
.services_wrap
.check_control
label {
    font-size: 20px;
  }
  .contact
.contact_form_wrap
form
.services
.services_wrap
.check_control
input {
    width: 30px;
    height: 30px;
  }
  .contact .contact_form_wrap form .budget .budget_wrap .budget_btn {
    font-size: 16px;
  }
  .news .news_card {
    padding: 6rem 0;
  }
  .news .news_card .news_content h1 {
    font-size: 45px;
  }
  .news .news_main h1 {
    font-size: 120px;
  }
  .news .news_card .news_content p {
    font-size: 20px;
  }
  .newsletter h1 {
    font-size: 60px;
    line-height: 95px;
  }
  .newsletter .control input {
    padding: 15px 0;
  }
  .newsletter .control button {
    padding: 12px 84px;
    font-size: 28px;
  }
  .section2_cards .section2_card .section2_content .letter h2 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  .section2_cards .section2_card .section2_content .no {
    font-size: 30px;
    margin-right: 0.6rem;
  }
  .section2_cards .section2_card .section2_content .letter p {
    font-size: 15px;
  }
  .section2_cards .section2_card .section2_img {
    width: 213px;
    height: auto;
    margin-left: 2.5rem;
  }
  .career_section2 h1 {
    font-size: 70px;
  }
  .career_section2 h1 .ring .ring_img {
    width: 200px;
    height: auto;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
h2,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
h2 {
    font-size: 28px;
  }
  .section2_cards
.section2_card_mul
.section2_content
.section2_content1
.letter
.no,
  .section2_cards
.section2_card_mul
.section2_content
.section2_content2
.letter
.no {
    font-size: 28px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    font-size: 15px;
  }
  .section2_cards .section2_card_mul .section2_content .section2_content1 p,
  .section2_cards .section2_card_mul .section2_content .section2_content2 p {
    margin-left: 2rem;
  }
}

@media (max-width: 500px) {
  .nav .nav_con .nav_header .nav_icon {
    font-size: 1.4rem;
  }
  .nav .nav_con .nav_header .title {
    width: 120px;
  }
  .loading_centre {
    height: 180px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .loading_left h1 {
    font-size: 22px;
  }
  .loading_right h1 {
    font-size: 22px;
  }
  .loading_centre_wrap h1 {
    font-size: 24px;
  }
  .contact .contact_form_wrap form .budget .budget_wrap .budget_btn {
    font-size: 14px;
    padding: 8px 10px;
  }
  .section2 .container {
    padding-inline: 30px;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_1 {
    max-width: 90vw;
    font-size: 24px;
    margin-bottom: 4rem;
  }
  .landing_hero .landing_hero_wrap .hero_content .div_2 .div_2_content p {
    font-size: 18px;
  }
  .landing_hero .hero_bread {
    top: 35%;
  }
  .section1_mobile .mobile_pt1 .mobile_pt1_wrap .image_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .section1_mobile .mobile_pt1 .mobile_pt1_wrap .content {
    margin-left: 1rem;
  }
  .section1_mobile .mobile_pt2 {
    padding: 5rem 2rem;
  }
  .section1_mobile .mobile_pt3 {
    padding: 5rem 2rem;
  }
  .section2 .part2 .part2_prime {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .part2 .part2_prime .dir {
    margin-left: 0rem;
    width: 220px;
    margin: auto;
  }
  .section2 .part2 .part2_prime .content {
    margin-top: 2rem;
  }
  .section2 .part2 {
    padding: 0;
  }
  .section3 .section3_card::before {
    -webkit-transform: rotate(-90deg) translateX(-118%) translateY(70%);
            transform: rotate(-90deg) translateX(-118%) translateY(70%);
    font-size: 45px;
  }
  .section3 .section3_card::after {
    -webkit-transform: rotate(-90deg) translateX(-65%) translateY(0%);
            transform: rotate(-90deg) translateX(-65%) translateY(0%);
    font-size: 45px;
  }
  .section3 .section3_card {
    max-width: 215px;
  }
  .section3 .section3_card .section3_content {
    font-size: 14px;
  }
  .section4 .section4_parts .section4_part {
    padding: 100px 0;
  }
  .section4 .section4_parts .section4_part h2 {
    margin-bottom: 5rem;
  }
  .section8 h1 {
    font-size: 40px;
  }
  footer .footer_wrap .bottom {
    font-size: 6px;
  }
  .project1 h1 {
    font-size: 50px;
  }
  .project1 h3 {
    font-size: 25px;
  }
  .project2 .project2_cards .project2_card .project2_content p {
    font-size: 25px;
  }
  .training1 h1 {
    font-size: 50px;
  }
  .training1 .training1_text h3 {
    font-size: 27px;
  }
  .training1 .training1_text h3:nth-child(2) {
    padding: 20px 0% 20px 25%;
  }
  .training1 .training1_text h3:nth-child(3) {
    padding: 20px 0% 20px 40%;
  }
  .training1 h2 {
    padding: 100px 0px;
    font-size: 22px;
  }
  .member {
    padding: 2.5rem 0;
  }
  .member h1 {
    font-size: 34px;
  }
  .member .member_form_wrap .member_head h2 {
    font-size: 20px;
  }
  .member .member_form_wrap .member_head .member_head_img {
    width: 20px;
    height: auto;
  }
  .member .member_form_wrap h3 {
    margin-left: 33px;
    font-size: 19px;
  }
  .career_section1 .section1_main_wrap .section1_main h1 {
    font-size: 90px;
  }
  .career_section1 .section1_main_wrap .section1_main p {
    font-size: 27px;
  }
  .career_section1 .section1_main_wrap .section1_main .section1_btn button {
    font-size: 20px;
    padding: 12px 30px;
  }
  .section1_aux_img1,
  .section1_aux_img2,
  .section1_aux_img3 {
    margin-right: 1rem;
  }
  .career_section3 .section3_card .section3_img {
    width: 192px;
    height: auto;
    margin: 0 auto;
  }
  .career_section3 .section3_card .section3_content p {
    font-size: 18px;
  }
  .career_section3 .section3_card .section3_content h1 span::after {
    bottom: 8%;
    left: 20%;
  }
  .career_section4 .search_wrap h1 {
    font-size: 33px;
    text-align: center;
  }
  .career_section4 .search_wrap .search_control input {
    font-size: 14px;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 400px) {
  .loading_left h1 {
    font-size: 18px;
  }
  .loading_right h1 {
    font-size: 18px;
  }
  .section6 .container {
    padding: 0 20px;
  }
  .section4 .section4_parts .section4_part .parallax_wrap {
    width: 225px;
    height: auto;
  }
  .section4 .section4_parts .section4_part h2 {
    font-size: 32px;
  }
  .section5 h1 {
    font-size: 30px;
  }
  .carousel__dot {
    margin: 0 0.2rem;
    padding: 4px;
  }
  .section7 h1 {
    font-size: 30px;
  }
  .loading_centre_wrap h1 {
    font-size: 20px;
  }
  .project1 h1 {
    font-size: 35px;
  }
  .project1 h3 {
    font-size: 22px;
  }
  .project2 .project2_cards .project2_card .project2_content p {
    font-size: 20px;
  }
  .training2 .container,
  .training3 .container {
    padding: 0 5px;
  }
  .member .member_form_wrap form .control input,
  .member .member_form_wrap form .control textarea,
  .contact .contact_form_wrap form .control input,
  .contact .contact_form_wrap form .control textarea {
    padding: 12px 15px;
    font-size: 20px;
  }
  .contact .contact_form_wrap form .services .services_wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .contact .contact_form_wrap form .services h2 {
    font-size: 28px;
  }
  .contact .contact_form_wrap form .budget h2 {
    font-size: 25px;
  }
  .contact .contact_form_wrap form .budget h2 span {
    font-size: 21px;
  }
  .news .news_main h1 {
    font-size: 80px;
  }
  .news .news_main p {
    font-size: 24px;
    margin-top: 30px;
  }
  .news .news_card {
    padding: 3rem 0;
  }
  .newsletter h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
  }
  .newsletter .control input {
    font-size: 24px;
    padding: 10px 0;
  }
  .newsletter .control button {
    font-size: 23px;
    padding: 10px 50px;
  }
  .career_section1 .section1_main_wrap .section1_main h1 {
    font-size: 70px;
  }
  .career_section1 .section1_main_wrap .section1_main p {
    font-size: 22px;
  }
  .career_section1 .section1_main_wrap .section1_main .section1_btn button {
    font-size: 17px;
  }
  .section1_mob_wrap {
    padding: 3rem 0 2rem 0;
  }
  .career_section2 h1 {
    font-size: 51px;
  }
  .career_section2 h1 .ring .ring_img {
    width: 140px;
    height: auto;
  }
  .career_section3 .section3_card .section3_content h1 span::after {
    bottom: 8%;
    left: 15%;
  }
}

@media (max-width: 350px) {
  .loading_left h1 {
    font-size: 16px;
  }
  .loading_right h1 {
    font-size: 16px;
  }
  .loading_centre {
    height: 150px;
  }
  .career_section4 .search_cards .search_card {
    width: 290px;
  }
}
