html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Recoleta;
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Recoleta"), url(/fonts/Recoleta-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Chunkfive";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Chunkfive"), url(/fonts/Chunkfive.woff) format("woff");
}

.none {
  display: none;
}

.container {
  padding: 0px 86px;
}

/* Loading Screen Styling */
.loading_wrap {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding: 74px 65px;
  background-color: #000;
  color: #fff;
}

.loading_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 80px;
    font-weight: 400;
  }
}
.loading_centre {
  align-self: center;
  padding: 0 50px;
  border: 3px dashed #fff;
  border-radius: 100%;
}

.loading_centre_wrap {
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  position: relative;
  h1 {
    font-weight: 400;
    font-size: 85px;
    padding: 85px 35px;
  }
}

.loading_centre_wrap:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 5px;
  height: 100%;
  transform: translateY(-100%);
  background-color: #fff;
}

.loading_centre_wrap:before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 5px;
  height: 100%;
  transform: translateY(100%);
  background-color: #fff;
}

.loading_right {
  align-self: flex-end;
  h1 {
    font-size: 80px;
    font-weight: 400;
  }
}

// Header
header {
  padding: 31px 0;
  .container {
    display: flex;
    justify-content: space-between;
    .bar_wrap {
      display: flex;
      align-items: center;
      h1 {
        margin-left: 17px;
        font-size: 32px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

// Landing Page Hero
.landing_hero {
  padding: 10px 0 80px 0;
  .hero_bread {
    position: absolute;
    left: -80px;
    top: 55vh;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin-right: 60px;
      font-size: 20px;
      font-weight: 400;
      color: #636161d9;
      position: relative;
    }
    li:nth-child(1)::after,
    li:nth-child(2)::after {
      content: "";
      position: absolute;
      right: -6px;
      top: 60%;
      transform: translateX(100%);
      width: 50px;
      height: 2px;
      background-color: rgba(99, 97, 97, 0.85);
    }
  }
  .landing_hero_wrap {
    position: relative;
    margin-left: 10%;
    .hero_content {
      // flex: 4;
      display: flex;
      flex-direction: column;
      .div_1 {
        font-size: 55px;
        font-weight: 400;
        text-align: right;
        max-width: 50vw;
        align-self: flex-end;
        margin-bottom: 3rem;
      }
      .div_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .div_2_content {
          p {
            font-size: 40px;
            font-weight: 400;
            color: rgba(42, 116, 185, 0.69);
            max-width: 50vw;
          }
        }
        .arrow_wrap {
          margin-right: 8rem;
          .arrow {
            .mid {
              margin-left: 7px;
              width: 2px;
              height: 250px;
              background-color: #f6bd2b;
            }
            .down {
              width: 0px;
              height: 0px;
              border-top: 10px solid #f6bd2b;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// Landing Page Section 1
.section1 {
  padding: 157px 0;
  background-color: #000;
  color: #fff;
  .section1_wrap {
    h1 {
      margin-bottom: 5rem;
      font-size: 90px;
      font-weight: 400;
      text-align: center;
    }
    .section1_cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 169px;
      column-gap: 52px;
      align-items: center;
      .card {
        .content {
          padding: 1.5rem 0;
          text-align: center;
          h3 {
            font-size: 33px;
            margin-bottom: 1rem;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// Landing Section 2
.section2 {
  padding-top: 200px;
  .part1 {
    padding-bottom: 94px;
    .content {
      h1 {
        font-size: 72px;
        max-width: 376px;
        margin-bottom: 65px;
        font-weight: 400;
        line-height: 74.19px;
      }
      h2 {
        font-size: 58px;
        max-width: 859px;
        font-weight: 400;
        span {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .dir {
      text-align: center;
      margin: 94px 0;
    }
    .image {
      text-align: right;
    }
  }
  .part2 {
    padding-top: 78px;
    padding-bottom: 200px;
    background-color: #000;
    color: #fff;
    .part2_prime {
      display: flex;
      margin-top: 74px;
      .dir {
        flex: 3;
        justify-self: flex-end;
        margin-left: 20rem;
      }
      .content {
        flex: 4;
        text-align: right;
        margin-top: 10rem;
        h1 {
          font-size: 65px;
          font-weight: 400;
        }
        h2 {
          margin-bottom: 95px;
        }
        h2,
        h3 {
          font-size: 52px;
          font-weight: 400;
        }
      }
    }
  }
}

// Section 3
.section3 {
  padding: 600px 0;
  position: relative;
  .section3_card {
    max-width: 961px;
    margin: auto;
    .section3_img {
      text-align: center;
    }
    .section3_content {
      color: rgba(0, 0, 0, 0.61);
      font-size: 29px;
      font-weight: 400;
      max-width: 485px;
      margin-top: 1rem;
    }
  }
}
.section3::before {
  position: absolute;
  content: "about us";
  text-transform: uppercase;
  left: 0;
  top: 0%;
  color: #000;
  font-size: 156px;
  font-weight: 400;
  transform: rotate(-90deg) translateX(-150%) translateY(110%);
  transform-origin: bottom left;
  line-height: 9rem;
}

.section3::after {
  position: absolute;
  content: "history";
  text-transform: uppercase;
  right: 0;
  top: 0%;
  color: #000;
  font-size: 156px;
  font-weight: 900;
  font-family: Chunkfive;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: bottom right;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
}
