html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Recoleta Thin;
}

@font-face {
  font-family: "Recoleta Thin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Recoleta Thin"),
    url(/fonts/RecoletaAlt-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Recoleta"), url(/fonts/Recoleta-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Chunkfive";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Chunkfive"), url(/fonts/Chunkfive.woff) format("woff");
}

.none {
  display: none;
}

.container {
  padding: 0px 86px;
}

.pr_wrap {
  transition: all 0.8s ease;
}

.tr_ovr,
.nw_ovr,
.car_ovr {
  transition: all 0.3s ease;
}

#ovr {
  transition: all 0.3s ease;
  transform: translateX();
}

.anim_wrap {
  height: 100%;
  position: relative;
  scroll-snap-align: center;
  overflow: hidden;
}

// Cursor follow circle
.circle {
  position: absolute;
  // transform:translate(-50%,-50%);
  height: 20px;
  width: 20px;
  // transform: translateX(-50%) translateY(-50%);
  z-index: 1001;
  border-radius: 50%;
  background-color: #333;
  transition: all ease-out 0.5s;
  display: none;
  opacity: 0.9;
}

.act_circle {
  transform: scale(7);
  mix-blend-mode: color;
  // background-color: red;
}

.eleHover:hover {
  background-color: #fff;
}

/* Loading Screen Styling */
.blink_anim {
  animation-name: blink;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% { opacity: 1 }
  100% { opacity: 0.5 }
  0% { opacity: 1 }
}

.loading_wrap {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding: 34px 65px 74px 65px;
  color: #000;
  background-color: #fff;
}

.loading_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex: 1;
  h1 {
    font-size: 80px;
    font-weight: 400;
  }
}

.loading_centre {
  align-self: center;
  // flex: 1;
  // padding: 30px 30px;
  border: 3px dashed #000;
  border-radius: 100%;
  // min-width: 351px;
    width: 400px;
  height: 400px;
  text-align: center;
}

.loading_centre_wrap {
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 400;
    font-size: 85px;
  }
}

.loading_centre_wrap:after {
  position: absolute;
  content: "";
  left: 50%;
  top: -10%;
  width: 5px;
  height: 200%;
  transform: translateY(-100%);
  background-color: #000;
}

.loading_centre_wrap:before {
  position: absolute;
  content: "";
  left: 50%;
  top: -90%;
  width: 5px;
  height: 200%;
  transform: translateY(100%);
  background-color: #000;
}

.loading_right {
  align-self: flex-end;
  // flex: 1;
  h1 {
    font-size: 80px;
    font-weight: 400;
  }
}


// Header
header,
.head_black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.9);
  // backdrop-filter: blur(3px);
  color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .logo {
    cursor: pointer;
  }
  .logo_aux {
    display: none;
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: space-between;
    .bar_wrap {
      display: flex;
      align-items: center;
      .bars {
        cursor: pointer;
      }
      .bars_aux {
        display: none;
        cursor: pointer;
      }
      h1 {
        margin-left: 17px;
        font-size: 32px;
        font-weight: 400;
      }
    }
  }
}

// Landing Page Hero
.landing_hero {
  // position: fixed;
  // left: 0;
  // top: 0;
  height: 100vh;
    width: 100%;
  width: 100vw;
  font-family: Recoleta Thin;
  padding: 10px 0 80px 0;
  margin-top: 84px;
  .hero_bread {
    position: absolute;
    left: -80px;
    top: 45%;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin-right: 60px;
      font-size: 20px;
      font-weight: 400;
      color: #636161d9;
      position: relative;
    }
    li:nth-child(1)::after,
    li:nth-child(2)::after {
      content: "";
      position: absolute;
      right: -6px;
      top: 60%;
      transform: translateX(100%);
      width: 50px;
      height: 2px;
      background-color: rgba(99, 97, 97, 0.85);
    }
  }
  .landing_hero_wrap {
    position: relative;
    margin-left: 10%;
    .hero_content {
      // flex: 4;
      display: flex;
      flex-direction: column;
      .div_1 {
        font-size: 40px;
        font-weight: 400;
        text-align: right;
        max-width: 50vw;
        align-self: flex-end;
        margin-bottom: 3rem;
      }
      .div_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .div_2_content {
          p {
            font-size: 35px;
            font-weight: 400;
            color: rgba(42, 116, 185, 0.69);
            max-width: 50vw;
          }
        }
        .arrow_wrap {
          margin-right: 8rem;
          .arrow {
            animation-name: bounce;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            .mid {
              margin-left: 7px;
              width: 2px;
              height: 250px;
              background-color: #f6bd2b;
            }
            .down {
              width: 0px;
              height: 0px;
              border-top: 10px solid #f6bd2b;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// Arrow Bounce Keyframes
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}


.sticky_styled {
  overflow: hidden;
  .section1_cards1 {
    padding-bottom: 3rem;
    height: 100vh;
    width: 100%;
    padding-top: 8rem;
  }
}
// Landing Page Section 1
.section1 {
  margin-top: 6rem;
  padding: 157px 0;
  height: 100%;
  // background-color: #000;
  // color: #fff;
  .container {
    padding: 0 150px;
  }
  .section1_wrap {
    h1 {
      margin-bottom: 5rem;
      font-size: 90px;
      font-weight: 400;
      text-align: center;
    }
    .section1_cards {
      // align-items: center;
      .section1_cards1, .section1_cards2 {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(3, 1fr);
        // row-gap: 169px;
        column-gap: 52px;
      }
      .section2_cards2 {
        margin-top: 3rem;
      }

      .card {
        text-align: center;

        .card_image:hover {
          transform: perspective(2500px) rotateX(20deg) scale(1.05);
        }
        .card_image {
          // border: 1px solid #fff;
          // transform: perspective(2500px) rotateY(0);
          // transition: all 0.5s cubic-bezier(0.67, 0, 0.285, 1);
          img {
            object-fit: cover;
          }
        }
        .content {
          padding: 1.5rem 0;
          text-align: center;
          h3 {
            font-size: 26px;
            margin-bottom: 1rem;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Section4 mobile view
.section1_mobile {
  display: none;
  .container {
    padding: 0;
  }
  .mobile_pt1 {
    // background-color: #000;
    // color: #fff;
    padding: 70px 0;
    h1 {
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    .head_image {
      text-align: center;
      margin-bottom: 60px;
    }
    .mobile_pt1_wrap {
      padding: 0 2rem;
      .content {
        max-width: 290px;
        margin-left: 3rem;
        margin-bottom: 2rem;
        h2 {
          font-size: 30px;
          font-weight: 400;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 14px;
          // color: rgba(255, 255, 255, 0.46);
        }
      }
      .image_wrap {
        display: flex;
        flex-direction: column;
        .arrow {
          text-align: center;
        }
        .image {
          margin-top: 2rem;
          text-align: right;
        }
      }
    }
  }
  .mobile_pt2 {
    // background-color: #fff;
    // color: #000;
    padding: 5rem 6rem;
    .content {
      margin-bottom: 2.5rem;
      h2 {
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      p {
        max-width: 220px;
        font-size: 15px;
        font-weight: 400;
      }
    }
    .arrow {
      text-align: center;
      margin-bottom: 2rem;
    }
    .image {
      text-align: right;
    }
  }
  .mobile_pt3 {
    // background-color: #000;
    // color: #fff;
    padding: 5rem 4rem;
    .image {
      text-align: left;
      margin-bottom: 3rem;
    }

    .arrow {
      text-align: center;
      margin-bottom: 2rem;
    }
    .content {
      text-align: right;
      display: flex;
      .fake {
        flex: 1;
      }
      .content_wrap {
        flex: 2;
      }
      h2 {
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

// Landing Section 2
.section2 {
  padding-top: 150px;
  .container {
    padding-inline: 200px;
  }
  .part1 {
    padding-bottom: 94px;
    .content {
      h1 {
        font-size: 45px;
        max-width: 376px;
        margin-bottom: 65px;
        font-weight: 400;
        line-height: 53.19px;
      }
      h2 {
        font-size: 32px;
        max-width: 859px;
        font-weight: 400;
        span {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .dir {
      text-align: center;
      margin: 94px 0;
    }
    .image {
      text-align: right;
    }
  }
  .part2 {
    padding-top: 128px;
    padding-bottom: 200px;
    // background-color: #000;
    // color: #fff;
    .part2_prime {
      display: flex;
      margin-top: 74px;
      .dir {
        flex: 3;
        justify-self: flex-end;
        margin-left: 20rem;
      }
      .content {
        flex: 4;
        text-align: right;
        margin-top: 10rem;
        h1 {
          font-size: 50px;
          font-weight: 400;
        }
        h2 {
          margin-bottom: 95px;
        }
        h2,
        h3 {
          font-size: 32px;
          font-weight: 400;
          span {
            color: rgba(255, 255, 255, 0.66);
          }
        }
      }
    }
  }
}

// Section 3
.section3 {
  padding: 300px 0 200px 0;
  position: relative;
  .section3_card {
    max-width: 729px;
    margin: auto;
    .section3_img {
      text-align: center;
    }
    .section3_content {
      color: rgba(0, 0, 0, 0.61);
      font-size: 24px;
      font-weight: 400;
      max-width: 500px;
      margin-top: 1rem;
    }
  }
}
.section3 .section3_card::before {
  position: absolute;
  content: "about us";
  text-transform: uppercase;
  left: 0;
  top: 0%;
  color: #000;
  font-size: 116px;
  font-weight: 400;
  transform: rotate(-90deg) translateX(-120%) translateY(230%);
  transform-origin: bottom left;
  line-height: 9rem;
}

.section3 .section3_card::after {
  position: absolute;
  content: "history";
  text-transform: uppercase;
  right: 0;
  top: 0%;
  color: #000;
  font-size: 116px;
  font-weight: 900;
  font-family: Chunkfive;
  transform: rotate(-90deg) translateX(-25%) translateY(-125%);
  transform-origin: bottom right;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
}

// Section 4
.section4 {
  padding: 100px;
  h1 {
    font-size: 72px;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 5rem;
  }
  .section4_parts {
    text-align: center;
    .section4_part {
      padding: 150px 0;
      h2 {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-color: #333;
        -webkit-text-stroke-width: 1px;
        font-size: 72px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 10rem;
      }
      .parallax_wrap {
        display: inline-block;
        width: 460px;
        height: 460px;
      }
      .parallax_wrap1 {
        border: 20px solid rgba(92, 74, 237, 0.8);
      }
      .parallax_wrap2 {
        border: 20px solid rgba(115, 30, 55, 1);
      }
      .parallax_wrap3 {
        border: 20px solid rgba(92, 74, 237, 0.64);
      }
    }
  }
}

// Section 5
.section5 {
  // background-color: #242424;
  // color: #fff;
  padding: 100px 0;
  h1 {
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 150px;
  }
}

// Section 5 Carousel styles
.carouselProvider {
  max-height: 1000px;
}

.carousel_item:hover {
  transform: scale(1.04);
  transition: transform 0.7s ease;
}

.slide1 {
  transform: translateY(22%);
}

.slide2 {
  transform: translateY(11%);
}

.slide4 {
  transform: translateY(8%);
}

.slide6 {
  transform: translateY(8%);
}

.slide7 {
  transform: translateY(22%);
}

.carousel_btns {
  text-align: center;
  margin-top: 5rem;
}

.carousel__dot {
  margin: 0 0.5rem;
  padding: 10px;
  border-radius: 100%;
  border-width: 0;
}

// Section 6
.section6 {
  padding: 150px 0;
  .container {
    padding: 0 150px;
  }
  h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 400;
    margin-bottom: 70px;
  }
  .section6_cards {
    .section6_card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      gap: 15px;
      .content {
        flex: 1;
        font-size: 27px;
        line-height: 37px;
        span {
          color: rgba(0, 0, 0, 0.4);
        }
        a {
          text-decoration: underline;
        }
      }
      .image {
        flex: 1;
        text-align: center;
        margin-top: 60px;
        .btn {
          margin-top: 50px;
          button {
            background-color: #000;
            padding: 10px 15px;
            border-radius: 10px;
            color: #fff;
            font-size: 26px;
          }
        }
      }
    }
  }
}

// Secction 7
.section7 {
  text-align: center;
  h1 {
    font-size: 91px;
    font-weight: 400;
    margin-bottom: 80px;
  }
  .image {
    overflow: hidden;
  }
}

// Section8 {
.section8 {
  padding: 200px 0;
  margin-top: 170px;
  background-image: linear-gradient(#000, #000);
  background-position: 50% 76%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 1s, color 0.5s;
  color: #fff;
  text-align: center;
  position: relative;
  h1 {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 145px;
  }
  .section8_btn {
    button {
      background-color: #fff;
      color: #000;
      padding: 5rem 1.3rem;
      border: 0;
      border-radius: 50%;
      font-size: 45px;
      cursor: pointer;
      transition: background-color 1s, color 1s;
    }
  }
}

// Footer
footer {
  overflow: hidden;
  background-color: #000;
  padding: 27px;
  .footer_wrap {
    background-color: #fff;
    padding: 100px 49px 43px 43px;
    .top {
      display: flex;
      gap: 50px;
      justify-content: space-around;
      .image {
        cursor: pointer;
      }
      .left {
        color: rgba(0, 0, 0, 0.59);
        flex: 3;
        h3 {
          margin-top: 2rem;
          margin-bottom: 2rem;
          font-size: 25px;
          font-weight: 200;
          letter-spacing: 1.6px;
        }
        p {
          font-size: 25px;
          font-weight: 200;
          letter-spacing: 1.6px;
        }
      }
      .center,
      .right {
        flex: 2;
        margin-top: 3rem;
        h1 {
          font-size: 36px;
          margin-bottom: 1.3rem;
          cursor: pointer;
          color: #000;
          font-weight: 900;
        }
        li {
          list-style: none;
          position: relative;
          margin-left: 30px;
          color: rgba(0, 0, 0, 0.71);
          font-size: 26px;
          font-weight: 100;
          cursor: pointer;
          margin-bottom: 0.7rem;
        }
        li::after {
          position: absolute;
          left: 0;
          transform: translateX(-28px) translateY(-50%);
          top: 50%;
          content: "";
          width: 20px;
          height: 2px;
          background-color: #b3b3c6;
        }
      }
    }
    .bottom {
      margin-top: 8rem;
      padding: 2rem 0 0rem 0;
      border-top: 1px solid rgba(0, 0, 0, 0.33);
      display: flex;
      color: rgba(0, 0, 0, 0.53);
      justify-content: space-between;
      .copy {
        flex: 5;
      }
      .list {
        flex: 4;
        display: flex;
        justify-content: space-between;
        p {
          cursor: pointer;
        }
      }
    }
  }
}

// Navigation Styling
.nav_drop {
  background-color: rgba(0, 0, 0, 0.33);
  width: fit-content;
}
.img_culture_2 {
  transform: rotate(0deg) translateX(-15px) translateY(-10px);
}
.nav_img_wrap {
  position: absolute;
  top: 20%;
  left: 47%;
  display: flex;
  transform: translateX(-50%);
}

.nav_img_training2 {
  transform: translateY(-50px);
}

.nav_img_culture_wrap {
  position: relative;
}

.nav_img_culture {
  top: 0px;
  left: 0;
}

.nav_open {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0%) !important;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  // opacity: 0;
  // visibility: hidden;
  // transform: translateX(110%);
  // transition: all 0.5s ease-in-out;
  .nav_con {
    padding: 21px 56px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .nav_header {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.5rem;
      .title {
        cursor: pointer;
      }
      .nav_icon {
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        cursor: pointer;
      }
    }
    .nav_body {
      flex: 8;
      display: flex;
      justify-content: space-between;
      gap: 400px;
      .nav_links1 {
        align-self: flex-start;
        ul {
          li {
            list-style: none;
            line-height: 3rem;
            margin-bottom: 1.3rem;
            font-size: 52px;
            font-weight: 400;
            cursor: pointer;
            position: relative;
            display: flex;
            .nav_links_img {
              margin-left: 0.5rem;
            }
            span {
              color: rgba(0, 0, 0, 0.4);
              font-size: 28px;
              font-weight: 400;
              margin-right: 0.4rem;
              min-width: 45px;
              display: inline-block;
            }
          }
        }
      }
      .nav_links2 {
        align-self: flex-end;
        ul {
          h1 {
            font-size: 52px;
            font-weight: 400;
          }
          li {
            list-style: none;
            font-size: 32px;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.43);
          }
          li:last-child {
            color: #DFD419;
            margin-top: 1rem;
          }
        }
      }
    }
    .nav_footer {
      flex: 1;
      p {
        color: rgba(42, 116, 185, 0.69);
        font-weight: 400;
        font-size: 30px;
        margin-left: 45px;
        margin-top: 2rem;
      }
    }
  }
}

// Project section 1
.project1 {
  text-align: center;
  padding-bottom: 3rem;
  margin-top: 80px;
  padding-top: 2rem;
  h1 {
    font-size: 100px;
    font-weight: 400;
  }
  h3 {
    font-size: 44px;
    font-weight: 400;
    padding-top: 47px;
    padding-bottom: 80px;
    color: rgba(42, 116, 185, 0.69);
    max-width: 898px;
    margin: 0 auto;
  }
}

// Project section 2 {
.project2 {
  .project2_cards {
    padding: 3rem 0 10rem 0;
    display: grid;
    // justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    .project2_card:nth-child(even) {
      margin-top: 8rem;
    }
    .project2_card {
      max-width: 500px;
      margin: auto;
      .project2_img {
        text-align: center;
      }
      .project2_content {
        margin-top: 31px;
        p {
          font-size: 30px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}

// Project 3
.project3 {
  padding: 10rem 0;
  // background-color: #000;
  // color: #fff;
  h1 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 8rem;
  }
  .project3_cards {
    .project3_card:nth-child(even) .project3_img {
      order: 2;
    }
    .project3_card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      column-gap: 2.5rem;
      .project3_img {
        text-align: center;
        flex: 1;
      }
      .project3_content {
        flex: 1;
        text-align: center;
        margin: 0 auto;
        p {
          margin: 0 auto;
          max-width: 450px;
          font-size: 41px;
        }
      }
    }
  }
}

// Training section 1 .
.btn_card_hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn_card_hover:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.training1 {
  padding: 2.3rem 0;
  margin-top: 80px;
  h1 {
    font-size: 80px;
    font-weight: 400;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 7rem;
  }
  .training1_text {
    h3 {
      font-size: 50px;
      font-weight: 100;
      border-bottom: 1px solid #000;
      padding: 15px 0% 15px 10%;
    }
    h3:nth-child(2) {
      padding: 20px 0% 20px 20%;
    }
    h3:nth-child(3) {
      padding: 20px 0% 20px 30%;
    }
  }
  h2 {
    font-size: 36px;
    max-width: 750px;
    color: rgba(0, 0, 0, 0.69);
    padding: 100px 100px;
  }
}

// Training section 2
.training2 {
  padding: 7rem 0;
  .container {
    padding: 0 43px;
  }
  h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 5rem;
  }
  .training2_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    .training2_card {
      border: 2px solid #000;
      max-width: 320px;
      margin: 0 auto;
      padding: 21px 22px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 25px;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        white-space: nowrap;
      }
      h3 {
        padding-top: 10px;
        font-size: 19px;
      }
      p {
        font-size: 15px;
        padding: 30px 0;
        flex-grow: 1;
        justify-self: center;
      }
      .button_card {
        font-size: 21px;
        max-width: 200px;
        margin: auto;
        padding: 10px 10px;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        border-width: 0;
      }
    }
  }
}

// Training section 3
.training3 {
  padding: 7rem 0;
  // background-color: #000;
  // color: #fff;
  .container {
    padding: 0 43px;
  }
  h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 5rem;
  }
  .training3_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    .training3_card {
      border: 2px solid #fff;
      max-width: 313px;
      margin: 0 auto;
      padding: 21px 22px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 29px;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
      }
      h3 {
        padding-top: 10px;
        font-size: 19px;
      }
      p {
        font-size: 15px;
        padding: 30px 0;
        flex-grow: 1;
        justify-self: center;
      }
      .button_card {
        font-size: 21px;
        padding: 10px 10px;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        max-width: 200px;
        margin: auto;
      }
    }
  }
}

// Member
.member {
  padding: 5rem 0;
  margin-top: 80px;
  h1 {
    font-size: 72px;
    font-weight: 400;
  }
  .member_form_wrap {
    .member_head {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 150px;
      h2 {
        font-weight: 100;
        font-size: 36px;
      }
    }
    h3 {
      font-weight: 100;
      font-size: 36px;
      margin-left: 73px;
    }
    form {
      padding: 3rem 0;
      .control {
        text-align: center;
        max-width: 800px;
        margin: 2rem auto;
        input,
        textarea {
          padding: 29px 30px;
          font-size: 30px;
          background: rgba(196, 196, 196, 0.46);
          color: rgba(0, 0, 0, 0.4);
          width: 100%;
          border-width: 0;
          border-radius: 5px;
        }
      }
    }
    .two_btns {
      text-align: center;
      margin-bottom: 2rem;
    }
    .one {
      text-align: center;
      cursor: pointer;
    }
    .two_btns button {
      color: gray;
      margin: 1.5rem 1.4rem 0 1.4rem;
    }
    .one button {
      color: #fff;
    }
    .two_btns button,
    .one button {
      font-size: 24px;
      background-color: #000;
      border-radius: 40px;
      border-width: 0;
      padding: 20px 40px;
    }
  }
}

// Contact
.ser_head_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  .ser_em_wrap {
    margin-bottom: 3rem;
  }
}
.contact_btn {
  text-align: right;
  button {
    background: #000;
    border-radius: 13px;
    font-size: 20px;
    padding: 9px 40px;
    border-width: 0;
    color: #fff;
  }
}
.contact {
  padding: 2rem 0;
  margin-top: 80px;
  h1 {
    text-align: center;
    font-size: 92px;
    font-weight: 400;
    line-height: 110px;
    font-weight: 300;
    div {
      margin-bottom: 20px;
    }
    span {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }
  .contact_form_wrap {
    form {
      padding: 3rem 0;
      max-width: 1000px;
      margin: auto;
      .control {
        text-align: center;
        margin: 2rem 0;
        input,
        textarea {
          padding: 29px 30px;
          font-size: 30px;
          background: rgba(196, 196, 196, 0.46);
          color: rgba(0, 0, 0, 0.4);
          width: 100%;
          border-width: 0;
          border-radius: 5px;
        }
      }
      .services {
        padding: 5rem 0;
        h2 {
          margin-bottom: 3rem;
          font-size: 50px;
        }
        .services_wrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 40px;
          .check_control {
            display: flex;
            align-items: center;
            gap: 10px;
            label {
              font-size: 32px;
              color: rgba(0, 0, 0, 0.8);
            }
            input {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .budget {
        padding: 2rem 0;
        margin-bottom: 3rem;
        h2 {
          font-size: 50px;
          margin-bottom: 1.5rem;
          span {
            font-weight: 100;
            font-size: 30px;
          }
        }
        .budget_wrap {
          display: flex;
          gap: 25px;
          flex-wrap: wrap;
          .budget_btn {
            background-color: #000;
            color: #fff;
            padding: 14px 20px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 26px;
          }
          .budget_btn.active {
            background-color: lightgray;
            
          }
        }
      }
    }
  }
}

// News
.news {
  padding: 1rem 0;
  margin-top: 80px;
  .news_main {
    text-align: center;
    padding: 3rem 0;
    h1 {
      font-size: 226px;
      font-weight: 400;
    }
    p {
      font-size: 42px;
      color: rgba(42, 116, 185, 0.69);
      margin-top: 70px;
    }
  }
  .news_card:nth-child(3) {
    // background-color: #000;
    // color: #fff;
    .news_content p {
      // color: #fff;
    }
  }
  .news_card {
    padding: 6rem 2rem;
    .news_img {
      text-align: center;
    }
    .news_content {
      padding: 3rem 0;
      h1 {
        font-size: 52px;
        margin-bottom: 2rem;
      }
      p {
        font-size: 23px;
        // color: rgba(0, 0, 0, 0.68);
      }
    }
  }
}

// Newsletter
.newsletter {
  padding: 4rem 0 10rem 0;
  h1 {
    font-size: 140px;
    font-weight: 400;
    margin-bottom: 150px;
    text-align: center;
    line-height: 140px;
  }
  .control {
    text-align: center;
    input {
      border: 1.5px solid #000;
      text-align: center;
      font-size: 36px;
      width: 100%;
      padding: 25px 0;
      margin-bottom: 52px;
      border-radius: 10px;
    }
    button {
      background-color: #000;
      color: #fff;
      font-size: 35px;
      border: 0;
      padding: 19px 84px;
      border-radius: 10px;
    }
  }
}

// Career
.emoji_bg {
  background-color: #196285;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.emoji2 {
  background-color: #731E37;
  border-radius: 30px;
  width: fit-content;
  padding: 4rem 0;
}
.emoji3 {
  background-color: #f6742b;
  border-radius: 44px;
  // max-width: 430px;
  width: fit-content;
}
.career_section1 {
  padding: 6rem 0;
  margin-top: 80px;
  .section1_main_wrap {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    .section1_main_img1 {
      text-align: center;
      margin-left: 2rem;
      flex: 3;
    }
    .section1_main_img2 {
      flex: 2;
      text-align: right;
    }
    .section1_main {
      flex: 3;
      h1 {
        font-size: 120px;
        font-weight: 400;
        .us {
          display: inline-block;
          position: relative;
          .us_img {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(-20px) translateY(10px);
          }
        }
      }
      p {
        font-size: 33px;
        line-height: 46.31px;
      }
      .section1_btn {
        text-align: center;
        margin-top: 3rem;
        button {
          font-size: 30px;
          border-radius: 30px;
          background: rgba(196, 196, 196, 0.33);
          padding: 12px 60px;
          border: 1px solid #000;
        }
      }
      .section1_btn button {        
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      .section1_btn button:hover {       
        transform: scale(1.05);
      }
    }
  }
  .section1_aux_wrap {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 41px;
    .section1_aux_img2 {
      margin-top: 4rem;
      background-color: #FCC625;
      border-radius: 10px;
    }
  }
  .section1_mob_wrap {
    display: none;
    .section1_aux_img2 {
      padding: 2rem 0;
      background-color: #FCC625;
      border-radius: 10px;
    }
    .section1_aux_img3 {
      background-color: #FA8989;
      border-radius: 10px;
    }
    .section1_aux_img4 {
      background-color: #F6742B;
      border-radius: 10px;
    }
  }
}

// Career section2
.career_section2 {
  // background-color: #000;
  padding: 3rem 0;
  // color: #fff;
  h1 {
    font-size: 144px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 9rem;
    .ring {
      position: relative;
      display: inline-block;
      .ring_img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
.section2_cards {
  .section2_card {
    margin-bottom: 217px;
    gap: 140px;
    display: flex;
    // max-width: 1000px;
    margin: 0 auto;
    .section2_content {
      display: flex;
      flex: 2;
      .no {
        font-size: 64px;
        margin-right: 1.5rem;
        flex: 1;
      }
      .letter {
        flex: 20;
        h2 {
          font-size: 64px;
          margin-bottom: 40px;
        }
        p {
          font-size: 29px;
        }
      }
    }
    .section2_img {
      flex: 2;
      justify-items: flex-end;
      text-align: right;
    }
  }
  .section2_card_mul {
    padding: 8rem 0rem;
    display: flex;
    gap: 2rem;
    .section2_content {
      // display: flex;
      flex: 2;
      .section2_content1,
      .section2_content2 {
        margin-bottom: 6rem;
        .letter {
          flex: 1;
          display: flex;
          gap: 1rem;
          .no {
            flex: 1;
            font-size: 64px;
          }
          h2 {
            flex: 30;
            font-size: 60px;
            margin-bottom: 20px;
          }
        }
        p {
          font-size: 29px;
          text-align: right;
        }
      }
    }
    .section2_img {
      flex: 3;
      .section2_img2 {
        transform: translateX(140px) translateY(-100px);
      }
    }
  }
}

// Career section3
.career_section3 {
  padding: 4rem 0;
  .section3_svg {
    margin-bottom: 5rem;
  }
  .section3_svg_mob {
    margin-bottom: 5rem;
    display: none;
  }
  .section3_card {
    display: flex;
    gap: 6rem;
    .section3_content {
      flex: 1;
      h1 {
        position: relative;
        max-width: 455px;
        margin: 0 auto;
      }
      h1::after {
        position: absolute;
        bottom: -12%;
        left: 35px;
        // transform: translateX(35px);
        width: 365px;
        height: 31px;
        content: "";
        background-image: url("/assets/flex.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1,
      h2 {
        font-size: 52px;
        font-weight: 600;
        text-align: center;
      }
      p {
        font-size: 30px;
        font-weight: 400;
        margin-top: 3rem;
      }
    }
    .section3_img {
      flex: 1;
      margin-top: 12rem;
    }
  }
}

// Section 4
.career_section4 {
  // background-color: #000;
  // color: #fff;
  padding: 7rem 0;
  .search_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9rem;
    h1 {
      font-size: 53px;
      font-weight: 400;
      flex: 1;
    }
    .search_control {
      flex: 1;
      position: relative;
      input {
        background-color: #292929;
        color: rgba(235, 235, 235, 0.5);
        border-radius: 25px;
        width: 100%;
        padding: 1rem 2rem;
        border-width: 0;
        font-size: 16px;
      }
      .search_svg {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .search_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 110px;
    row-gap: 53px;
    .search_card {
      background-color: #303030;
      padding: 2rem 1.4rem;
      border-radius: 27px;
      width: 300px;
      height: 348px;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 22px;
        flex: 2;
      }
      .card_body {
        // padding: 4rem 0;
        border-top: 1.8px solid #fff;
        display: flex;
        align-items: center;
        justify-self: center;
        flex: 5;
        h2,
        h3 {
          font-size: 16px;
          margin-left: 3rem;
          position: relative;
        }
        h2 {
          margin-bottom: 1.4rem;
        }
        h2::after {
          position: absolute;
          bottom: 3px;
          left: -30px;
          width: 22px;
          height: 17px;
          content: "";
          background-image: url("/assets/house.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        h3::after {
          position: absolute;
          bottom: 0%;
          left: -25px;
          width: 12px;
          height: 18px;
          content: "";
          background-image: url("/assets/pin.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .role_btn {
        text-align: center;
        flex: 1;
        button {
          width: 100%;
          border-width: 0;
          padding: 0.7rem 0;
          color: #fff;
          background-color: rgba(119, 119, 119, 0.8);
          border-radius: 36px;
        }
        span {
          font-size: 12px;
          position: relative;
          margin-left: 1rem;
        }
        span::after {
          position: absolute;
          bottom: 3px;
          left: -25px;
          width: 12px;
          height: 12px;
          content: "";
          background-image: url("/assets/angle.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

// Culture Page
.sc-con {
  transition: 0.6s all ease;
}

.sc-alt {
  background-color: #000;
  color: #fff;
}

.hor-container {
  padding: 3ction22px 72px 12px 72px;
}

.culture-page {
  padding-left: 50px;
  width: 17500px;
  max-height: 100vh;
  // overflow: hidden;
  .culture-page-wrap {
    display: flex;
    .cul-sel {
      // flex: 1;
      height: 100vh;
      padding-top: 2rem;
    }
    // Culture Section1
    .culture-section1 {
      .hor-container {
        display: flex;
        width: 2900px;
        .section1_main {
          flex: 1;
          h1 {
            font-size: 150px;
            font-weight: 100;
            span {
              font-size: 180px;
            }
          }
          .hor-content {
            display: flex;
            gap: 60px;
            p {
              flex: 1;
              font-size: 23px;
              color: rgba(0, 0, 0, 0.68);
              margin-top: 5rem;
              white-space: normal;
            }
            .image {
              flex: 1;
            }
          }
        }
        .image2 {
          flex: 1;
          img {
            width: 1300px;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
    // Culture Section2
    .culture-section2 {
      width: 3700px;
      .hor-container {
        display: flex;
        height: 100%;
        .section2_main {
          width: 700px;
          h1 {
            font-size: 150px;
            font-weight: normal;
            margin-bottom: 30px;
          }
          p {
            white-space: normal;
            font-size: 25px;
            line-height: 45px;
          }
        }
        .section2_img {
          display: flex;
          align-items: flex-end;
          height: 100%;
          margin-left: 8rem;
          .img1 {
            transform: translateY(-1%);
          }
          .img2 {
            transform: translateY(-20%);
          }
          .img3 {
            transform: translateY(-40%);
          }
          .img4 {
            transform: translateY(-70%);
          }
          .img5 {
            transform: translateY(-90%);
          }
          .img6 {
            transform: translateY(-70%);
          }
          .img7 {
            transform: translateY(-40%);
          }
          .img8 {
            transform: translateY(-20%);
          }
          .img9 {
            transform: translateY(-1%);
          }
        }
      }
    }
    // Culture Section3
    .culture-section3 {
      .hor-container {
        display: flex;
        width: 1600px;
        height: 100%;
        .section3_main {
          width: 700px;
          padding: 20px 0;
          h1 {
            font-size: 70px;
            line-height: 100px;
            font-weight: 400;
            margin-bottom: 50px;
            white-space: normal;
          }
          p {
            font-size: 25px;
            font-weight: 400px;
            white-space: normal;
          }
        }
        .section3_img {
          position: relative;
          width: 600px;
          .img {
            position: absolute;
            right: 0;
            top: 10%;
          }
          .img2 {
            transform: rotate(-10deg);
          }
          .img1 {
            transform: rotate(10deg);
          }
        }
      }
    }
    // Culture Section4
    .culture-section4 {
      margin-top: 7rem;
      .hor-container {
        display: flex;
        width: 1500px;
        height: 100%;
        .section4_main {
          width: 700px;
          padding: 20px 0;
          margin-right: 4rem;
          h1 {
            font-size: 140px;
            line-height: 100px;
            font-weight: 400;
            margin-bottom: 100px;
            white-space: normal;
          }
          p {
            font-size: 25px;
            font-weight: 400px;
            white-space: normal;
          }
        }
      }
    }
    // Culture Section5
    .culture-section5 {
      margin-top: 4rem;
      .hor-container {
        display: flex;
        width: 2500px;
        height: 100vh;
        .section5_main {
          width: 1000px;
          padding: 20px 0;
          margin-right: 4rem;
          h1 {
            font-size: 70px;
            line-height: 70px;
            font-weight: 400;
            margin-bottom: 100px;
            white-space: normal;
            span {
              color: #a7a7a7;
            }
          }
          p {
            font-size: 25px;
            font-weight: 400px;
            white-space: normal;
            color: #a7a7a7;
          }
        }
        .section5_main2 {
          width: 900px;
          margin-left: 20rem;
          align-self: center;
          p {
            white-space: normal;
            font-size: 40px;
            // color: rgba(0, 0, 0, 0.68);
          }
        }
      }
    }
  }
  // Culture Section6
  .culture-section6 {
    margin-top: 4rem;
    .hor-container {
      display: flex;
      width: 100vw;
      height: 100%;
      .section6_main {
        width: 1100px;
        padding: 20px 0;
        margin-right: 4rem;
        display: flex;
        align-items: center;
        h1 {
          font-size: 50px;
          line-height: 70px;
          font-weight: 400;
          margin-bottom: 100px;
          white-space: normal;
          text-align: center;
        }
      }
    }
  }
  // Culture Section7
  .culture-section7 {
    .hor-container {
      display: flex;
      width: 2000px;
      height: 100vh;
      .section7_main {
        width: 900px;
        padding: 20px 0;
        align-self: center;
        margin-right: 8rem;
        h1 {
          font-size: 70px;
          line-height: 100px;
          font-weight: 400;
          white-space: normal;
        }
        h2 {
          font-size: 70px;
          line-height: 100px;
          font-weight: 400;
          margin-bottom: 50px;
          white-space: normal;
          color: #c4c4c4;
        }
        p {
          font-size: 35px;
          font-weight: 400;
          padding: 0 100px;
          white-space: normal;
        }
      }
      .section7_img {
        display: flex;
        align-self: center;
        .img1 {
          transform: translateY(10%);
        }
        .img2 {
          transform: translateY(-10%);
        }
        .img3 {
          transform: translateY(-20%);
        }
      }
    }
  }
  // Culture Section8
  .culture-section8 {
    margin-top: 0rem;
    .hor-container {
      display: flex;
      width: 1500px;
      align-items: center;
      height: 100%;
      .section8_main {
        width: 700px;
        padding: 20px 0;
        margin-right: 8rem;
        h1 {
          font-size: 120px;
          line-height: 100px;
          font-weight: 400;
          margin-bottom: 100px;
          white-space: normal;
        }
        p {
          font-size: 22px;
          font-weight: 400px;
          white-space: normal;
        }
      }
    }
  }
  // Footer
  // .hor-footer {
  //   background-color: #000;
  //   padding: 27px;
  //   height: 100vh;
  //   .footer_wrap {
  //     background-color: #fff;
  //     padding: 100px 49px 80px 43px;
  //     .top {
  //       display: flex;
  //       gap: 50px;
  //       justify-content: space-around;
  //       .image {
  //         cursor: pointer;
  //       }
  //       .left {
  //         color: rgba(0, 0, 0, 0.59);
  //         flex: 3;
  //         h3 {
  //           margin-top: 2rem;
  //           margin-bottom: 2rem;
  //           font-size: 30px;
  //           font-weight: 200;
  //           letter-spacing: 1.6px;
  //         }
  //         p {
  //           font-size: 30px;
  //           font-weight: 200;
  //           letter-spacing: 1.6px;
  //         }
  //       }
  //       .center,
  //       .right {
  //         flex: 2;
  //         margin-top: 3rem;
  //         h1 {
  //           font-size: 36px;
  //           margin-bottom: 1.3rem;
  //           cursor: pointer;
  //         }
  //         li {
  //           list-style: none;
  //           position: relative;
  //           margin-left: 30px;
  //           color: rgba(0, 0, 0, 0.71);
  //           font-size: 26px;
  //           font-weight: 100;
  //           cursor: pointer;
  //         }
  //         li::after {
  //           position: absolute;
  //           left: 0;
  //           transform: translateX(-28px) translateY(-50%);
  //           top: 50%;
  //           content: "";
  //           width: 20px;
  //           height: 2px;
  //           background-color: #b3b3c6;
  //         }
  //       }
  //     }
  //     .bottom {
  //       margin-top: 8rem;
  //       padding: 2rem 0 0rem 0;
  //       border-top: 1px solid rgba(0, 0, 0, 0.33);
  //       display: flex;
  //       color: rgba(0, 0, 0, 0.53);
  //       justify-content: space-between;
  //       .copy {
  //         flex: 5;
  //       }
  //       .list {
  //         flex: 4;
  //         display: flex;
  //         justify-content: space-between;
  //         p {
  //           cursor: pointer;
  //         }
  //       }
  //     }
  //   }
  // }
}

// Mobile Culture
.small_culture {
  padding: 8rem 0 0rem 0;
  transition: all 0.8s ease;
  .small1 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      text-align: right;
      img {
        object-fit: cover;
      }
    }
  }
  .small2 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 2rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      display: flex;
      width: 1000px;
    }
  }
  .small3 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 3rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      position: relative;
      height: 270px;
      .img {
        position: absolute;
        right: 0;
        top: 0;
      }
      .img1 {
        transform: rotate(-10deg);
      }
      .img2 {
        transform: rotate(10deg);
      }
    }
  }
  .small4 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      text-align: right;
    }
  }
  .small5 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 1.5rem;
        span {
          color: #a7a7a7;
        }
      }
      h3 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 80px;
        color: rgba(64, 62, 62, 0.68);
      }
      p {
        text-align: right;
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-left: auto;
        color: rgba(64, 62, 62, 0.68);
      }
    }
  }
  .small6 {
    margin-bottom: 11rem;
    margin-top: 6rem;
    .content {
      p {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
  .small7 {
    margin-bottom: 8rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        color: rgba(196, 196, 196, 1);
      }
      h2 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 3rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      display: flex;
      justify-content: flex-end;
      margin-top: 10rem;
      .img1 {
        transform: translateY(00px);
      }
      .img2 {
        transform: translateY(-30px);
      }
      .img3 {
        transform: translateY(-60px);
      }
    }
  }
  .small8 {
    margin-bottom: 8rem;
    margin-top: 5rem;
    .content {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        margin-bottom: 80px;
      }
    }
    .image {
      text-align: right;
    }
  }
}

.privacy {
  padding-top: 6rem;
  h1 {
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
    a {
      color: rgba(92, 74, 237, 0.64);
    }
  }
  ul {
    margin-bottom: 60px;
    li {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .privacy {
    padding-top: 6rem;
    h1 {
      font-size: 60px;
      font-weight: 400;
      margin-bottom: 60px;
    }
    h2 {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 60px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
      a {
        color: rgba(92, 74, 237, 0.64);
      }
    }
    ul {
      margin-bottom: 60px;
      li {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
      }
    }
  }
}
